<section  style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                  
                  <div class=" mx-1 mx-md-4" [hidden]="!isSuccess">
                    <div class="error-box d-flex flex-row align-items-center mb-4">
                      <div class="errorLine">
                        <strong>{{signupError}}</strong>
                      </div>
                    </div>
                  </div>
                  <form class="mx-1 mx-md-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div *ngIf="!f.name.valid && (f.name.dirty || f.name.touched)" class="error_class">
                          <div *ngIf="f.name.errors?.required">your name is required</div>
                        </div>
                        <input type="text" id="form3Example1c" class="form-control" formControlName="name" />
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div *ngIf="!f.email.valid && (f.email.dirty || f.email.touched)" class="error_class">
                          <div *ngIf="f.email.errors?.required">your email is required</div>
                          <div *ngIf="f.email.errors?.email">invalid email</div>
                        </div>
                        <input type="email" id="form3Example3c" class="form-control" formControlName="email" />
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div *ngIf="!f.password.valid && (f.password.dirty || f.password.touched)" class="error_class">
                          <div *ngIf="f.password.errors?.required">password is required</div>
                          <div *ngIf="f.password.errors?.minlength">min length is 6</div>
                        </div>
                        <input type="password" id="form3Example4c" class="form-control" formControlName="password"/>
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div *ngIf="!f.rep_password.valid && (f.rep_password.dirty || f.rep_password.touched)" class="error_class">
                          <div *ngIf="f.rep_password.errors?.required">password is required</div>
                          <div *ngIf="f.rep_password.errors?.confirmedValidator">password is not match</div>
                        </div>
                        <input type="password" id="form3Example4cd" class="form-control" formControlName="rep_password" />
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3c"
                        formControlName="term"
                      />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signupForm.valid">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
