.card{
    margin-top:9%;
    margin-bottom:9%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.error-box{
    background-color: rgb(190, 245, 190);
    border: 1px solid green;
    border-radius:10px;
    margin-left: 5%;
}
.errorLine{
    margin-left: 3%;
    margin-bottom: 2%;
    color:green;
    margin-top: 1%;
}
.error_class{
    color: red;
}
.error-box{
    background-color: rgb(252, 196, 186);
    border: 1px solid red;
    border-radius:10px;
    margin-left: 5%;
}
.errorLine{
    margin-left: 3%;
    margin-bottom: 2%;
    color: red;
    margin-top: 1%;
}